@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

body {
	margin: 0;
	font-family: 'Jost', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--clr-bg: #222;
	--clr-bg-light: #333;
	--clr-text: #eee;
	--transition: all 0s cubic-bezier(0.23, 1, 0.32, 1);
	--spacing: 2px;
}
